.rate {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1em;
}

.buy {
  color: green;
  white-space: nowrap;
}

.sell {
  color: red;
  white-space: nowrap;
}

::ng-deep .rate-tooltip .mat-mdc-tooltip-surface {
  width: 900px;
  max-width: none;
  white-space: pre-line;
}
