.rate-table {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1em;
}

.rate-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px;
  padding: 12px;
  border-radius: 4px;
  border: 2px solid;
  align-items: flex-end;
}

.buy-row {
  border-color: green;
  color: green;
}

.sell-row {
  border-color: red;
  color: red;
}

::ng-deep .rate-tooltip .mat-mdc-tooltip-surface {
  width: 900px;
  max-width: none;
  white-space: pre;
}
