<div class="rate-table">
  @if (showBuyRow()) {
    <div class="rate-row buy-row">
      <volume-rate [instrumentUid]="instrumentUid()" [isBuy]="true" />
      <macd-rate [instrumentUid]="instrumentUid()" [isBuy]="true" />
      <rsi-rate [instrumentUid]="instrumentUid()" [isBuy]="true" />
      <tech-rate [instrumentUid]="instrumentUid()" [isBuy]="true" />
      <news-rate [instrumentUid]="instrumentUid()" [isBuy]="true" />
      <fundamental-rate [instrumentUid]="instrumentUid()" [isBuy]="true" />
      <profit-rate [instrumentUid]="instrumentUid()" [isBuy]="true" />
      <total-rate [instrumentUid]="instrumentUid()" [isBuy]="true" />
    </div>
  }

  @if (showSellRow()) {
    <div class="rate-row sell-row">
      <volume-rate [instrumentUid]="instrumentUid()" [isBuy]="false" />
      <macd-rate [instrumentUid]="instrumentUid()" [isBuy]="false" />
      <rsi-rate [instrumentUid]="instrumentUid()" [isBuy]="false" />
      <tech-rate [instrumentUid]="instrumentUid()" [isBuy]="false" />
      <news-rate [instrumentUid]="instrumentUid()" [isBuy]="false" />
      <fundamental-rate [instrumentUid]="instrumentUid()" [isBuy]="false" />
      <profit-rate [instrumentUid]="instrumentUid()" [isBuy]="false" />
      <total-rate [instrumentUid]="instrumentUid()" [isBuy]="false" />
    </div>
  }
</div>
