<div class="rate-table">
  @if (showBuyRow()) {
    <div class="rate-row buy-row">
      <volume [instrumentUid]="instrumentUid()" [isBuy]="true" />
      <macd [instrumentUid]="instrumentUid()" [isBuy]="true" />
      <rsi [instrumentUid]="instrumentUid()" [isBuy]="true" />
      <tech [instrumentUid]="instrumentUid()" [isBuy]="true" />
      <news [instrumentUid]="instrumentUid()" [isBuy]="true" />
      <fundamental [instrumentUid]="instrumentUid()" [isBuy]="true" />
      <profit [instrumentUid]="instrumentUid()" [isBuy]="true" />
      <total [instrumentUid]="instrumentUid()" [isBuy]="true" />
    </div>
  }

  @if (showSellRow()) {
    <div class="rate-row sell-row">
      <volume [instrumentUid]="instrumentUid()" [isBuy]="false" />
      <macd [instrumentUid]="instrumentUid()" [isBuy]="false" />
      <rsi [instrumentUid]="instrumentUid()" [isBuy]="false" />
      <tech [instrumentUid]="instrumentUid()" [isBuy]="false" />
      <news [instrumentUid]="instrumentUid()" [isBuy]="false" />
      <fundamental [instrumentUid]="instrumentUid()" [isBuy]="false" />
      <profit [instrumentUid]="instrumentUid()" [isBuy]="false" />
      <total [instrumentUid]="instrumentUid()" [isBuy]="false" />
    </div>
  }
</div>
