.page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 300px;
  max-width: 100vw;
  padding: 32px;
  border: 1px solid lightgray;
  border-radius: 3px;

  & > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

label {}

input {
  width: 100%;
  height: 24px;
}

button {
  width: 100%;
  height: 32px;
  margin-top: 24px;
}
