.source {
  margin-top: 10px;
  padding: 5px 3px;
  border: 1px solid lightgray;
}

.date {
  margin-bottom: 10px;
  font-size: .7em;
  color: gray;
}

.keywords {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: .5em;
  color: gray;
  white-space: pre-wrap;
}

div {
  line-height: 1em;
  white-space: nowrap;
}

.small {
  font-size: .7em;
}

.total {
  margin-top: 10px;
  padding: 5px 3px;
  border: 1px solid lightgray;
}
