@defer (when isLoaded()) {
  <ng-container *ngIf="news() as newsResp">
    <div
      class="date"
    >{{ dateFrom | date : 'yyyy-MM-dd' }} - {{ dateTo | date : 'yyyy-MM-dd' }}</div>

    <div class="keywords">Ключевые слова: {{ newsResp?.keywords?.join('; ') }}</div>

    <div
      *ngFor="let source of Object.keys(newsResp.sources)"
      class="source"
    >
      <div
        *ngIf="newsResp.sources[source] as s"
        class="bar"
      >
        <news-bar
          [positivePercent]="s.positive_avg_percent"
          [negativePercent]="s.negative_avg_percent"
          [neutralPercent]="s.neutral_avg_percent"
        ></news-bar>
      </div>

      <div>{{ source }} - {{ newsResp.sources[source].total_count }} Шт</div>
    </div>
  </ng-container>
} @placeholder {
  <preloader></preloader>
}
