@defer (when isLoaded()) {
  <ng-container *ngIf="news() as newsResp">
    <div
      class="date"
    >{{ dateFrom | date : 'yyyy-MM-dd' }} - {{ dateTo | date : 'yyyy-MM-dd' }}</div>

    <div class="keywords">Ключевые слова: {{ newsResp?.keywords?.join('; ') }}</div>

    <div
      *ngFor="let source of Object.keys(newsResp.sources)"
      class="source"
    >
      <div
        *ngIf="newsResp.sources[source] as s"
        class="bar"
      >
        <div
          class="green"
          [style.height.%]="s.positive_percent"
          [title]="s.positive_count+' шт. ('+s.positive_percent+'%)'"
        >{{ s.positive_count }}</div>

        <div
          class="red"
          [style.height.%]="s.negative_percent"
          [title]="s.negative_count+' шт. ('+s.negative_percent+'%)'"
        >{{ s.negative_count }}</div>

        <div
          class="gray"
          [style.height.%]="s.neutral_percent"
          [title]="s.neutral_count+' шт. ('+s.neutral_percent+'%)'"
        >{{ s.neutral_count }}</div>
      </div>

      <div>{{ source }} - {{ newsResp.sources[source].total_count }} Шт</div>
    </div>
  </ng-container>
} @placeholder {
  <preloader></preloader>
}
