.container {
  display: flex;
  align-items: center;
  gap: 5px;

  & > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    border: 1px solid lightgray;

    & > div {
      font-size: 90%;
      white-space: nowrap;
    }
  }
}
