Django==5.2.3
djangorestframework
django-cors-headers
tinkoff==0.1.1
numpy
pandas
scikit-learn
catboost==1.2.8
feedparser
apscheduler
pytz
requests
python-dateutil
yandex-cloud-ml-sdk==0.11.0
redis
ipywidgets
ipython
traitlets
psycopg2-binary
sqlalchemy
matplotlib
holidays
gunicorn
langchain
pydantic
deprecation==2.1.0
rich==14.0.0
langgraph==0.4.8
langchain-ollama==0.3.3
langchain_community==0.3.25
langchain_core==0.3.65
langchain_experimental==0.3.4
