Django
djangorestframework
django-cors-headers
tinkoff
tinkoff-investments
numpy
pandas
scikit-learn
catboost
feedparser
apscheduler
pytz
requests
python-dateutil
yandex-cloud-ml-sdk
redis
ipywidgets
ipython
traitlets
psycopg2-binary
sqlalchemy
matplotlib
holidays
gunicorn
langchain
langchain-community
