/* You can add global styles to this file, and also import other style files */

//@import '@angular/material/prebuilt-themes/purple-green.css';


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$drawer-width: 950px;

body.drawer-open {
  cdk-virtual-scroll-viewport.table-container,
  .table-container {
    width: calc(100vw - 16px - #{$drawer-width}) !important;
    overflow-x: auto;
  }
}
