@defer (when isLoaded()) {
  @if (weeksResponse().length > 0) {
    <div class="keywords">Ключевые слова: {{ weeksResponse()[0].keywords?.join('; ') }}</div>
  }

  @for (week of weeksResponse(); track week.start_date) {
    <div class="week">
      <div
        class="date"
      >{{ week.start_date | date : 'yyyy-MM-dd' }} - {{ week.end_date | date : 'yyyy-MM-dd' }}</div>

      <div class="bar">
        <news-bar
          [positivePercent]="week.yandex_percent.positive_percent"
          [negativePercent]="week.yandex_percent.negative_percent"
          [neutralPercent]="week.yandex_percent.neutral_percent"
        ></news-bar>
      </div>
    </div>
  }
} @placeholder {
  <preloader></preloader>
}
