@defer (when isLoaded()) {
  @let weeksResp = weeksResponse();

  @if (weeksResp && weeksResp.length > 0) {
    <div class="keywords">Ключевые слова: {{ weeksResp[0].keywords.join('; ') }}</div>
  }

  @for (week of weeksResp; track week?.start_date) {
    <div class="week">
      <div
        class="date"
      >
        {{ week.start_date | date : 'yyyy-MM-dd' }} - {{ week.end_date | date : 'yyyy-MM-dd' }}

        @if (week.rate_v2) {
          <rate-v2 [rate_v2]="week.rate_v2"></rate-v2>
        }
      </div>

      @if (week?.yandex_percent) {
        <div class="bar">
          <news-bar
            [positivePercent]="week.yandex_percent.positive_percent"
            [negativePercent]="week.yandex_percent.negative_percent"
            [neutralPercent]="week.yandex_percent.neutral_percent"
            [absolute]="week.yandex_absolute"
          ></news-bar>
        </div>
      } @else {
        <div class="bar">
          <p>-</p>
          <news-bar
            [positivePercent]="0"
            [negativePercent]="0"
            [neutralPercent]="100"
          ></news-bar>
        </div>
      }
    </div>
  }
} @placeholder {
  <preloader></preloader>
}
