@let rate = rate_v2();

@if (rate?.influence_score || rate?.influence_score === 0) {
  <div
    class="rate"
    [title]="rate | json"
    [class.plus]="rate!.influence_score! > 0"
    [class.minus]="rate!.influence_score! < 0"
  >
    <b>{{ rate!.influence_score | number : '1.2-2' }}</b>

    @if (
      (rate?.sentiment || rate?.sentiment == 0)
      && (rate?.impact_strength || rate?.impact_strength == 0)
      && (rate?.mention_focus || rate?.mention_focus == 0)
      ) {
      = {{ rate!.sentiment | number : '1.2-2' }} * {{ rate!.impact_strength | number : '1.2-2' }} * {{ rate!.mention_focus | number : '1.2-2' }}
    }
  </div>
}
