<div class="rate-wrapper">
  <div class="rate-cell">
    <macd-mini-graph [instrumentUid]="instrumentUid()"/>
    @if (rateData.value(); as data) {
      <div
        class="rate-value"
        [style.color]="macdColor"
        [matTooltip]="getTooltip(data)"
        matTooltipClass="rate-tooltip"
      >
        {{ data.rate | number:'1.2-2' }}
      </div>
      <div class="rate-label" [style.color]="macdColor">macd</div>
    } @else if (rateData.isLoading()) {
      <div class="rate-value" [style.color]="macdColor">...</div>
      <div class="rate-label" [style.color]="macdColor">macd</div>
    } @else {
      <div class="rate-value" [style.color]="macdColor">-</div>
      <div class="rate-label" [style.color]="macdColor">macd</div>
    }
  </div>
  <vertical-scale [color]="macdColor" [value]="rateData.value()?.rate ?? 0"/>
</div>
