<td>
  <a [routerLink]="['instrument', instrumentUid]">
    <instrument-logo
      [instrumentUid]="instrumentUid"
    ></instrument-logo>

    <h5>{{ instrument()?.ticker }}</h5>

    {{ instrument()?.name }}
  </a>
</td>

<td>
  @defer (when isLoadedInstrument()) {
    <fundamentals
      *ngIf="instrument()?.asset_uid as asset_uid"
      [instrumentAssetUid]="asset_uid"
    ></fundamentals>
  } @placeholder {
    <preloader></preloader>
  }
</td>

<td>
  <graph
    [instrumentUid]="instrumentUid"
    [days]="365 * 5"
    [interval]="candleInterval.CANDLE_INTERVAL_MONTH"
  ></graph>
</td>

<td>
  <graph
    [instrumentUid]="instrumentUid"
    [days]="365"
    [interval]="candleInterval.CANDLE_INTERVAL_WEEK"
  ></graph>
</td>

<td>
  <complex-graph
    [instrumentUid]="instrumentUid"
  ></complex-graph>
</td>

<td>
  @defer (when isLoadedInstrument()) {
    {{ instrumentLastPrice() }}
  } @placeholder {
    <preloader></preloader>
  }
</td>

<td>
  @defer (when isLoadedInstrument()) {
    <balance
      *ngIf="instrument()?.figi as figi"
      accountName="Основной"
      [instrumentUid]="instrumentUid"
      [instrumentFigi]="figi"
      [currentPrice]="instrumentLastPrice() ?? 0"
    ></balance>
  } @placeholder {
    <preloader></preloader>
  }
</td>

<td>
  @defer (when isLoadedInstrument()) {
    <balance
      *ngIf="instrument()?.figi as figi"
      accountName="Аналитический"
      [instrumentUid]="instrumentUid"
      [instrumentFigi]="figi"
      [currentPrice]="instrumentLastPrice() ?? 0"
    ></balance>
  } @placeholder {
    <preloader></preloader>
  }
</td>

<td>
  <forecast
    [instrumentUid]="instrumentUid"
  ></forecast>
  <br>
  <br>
  <forecast-history
    [instrumentUid]="instrumentUid"
  ></forecast-history>
</td>

<td>
  <prediction
    [instrumentUid]="instrumentUid"
    [currentPrice]="instrumentLastPrice()"
  ></prediction>
</td>

<td>
  <news
    [instrumentUid]="instrumentUid"
  ></news>
</td>
