<ng-container *ngIf="fundamentals() as f">
  <div>Валюта: {{ f.currency }}</div>
  <div>Выручка: {{ f.revenue_ttm }}</div>
  <div>EBITDA: {{ f.ebitda_ttm }}</div>
  <div>Капитализация: {{ f.market_capitalization }}</div>
  <div>Долг: {{ f.total_debt_mrq }}</div>
  <div>EPS — прибыль на акцию: {{ f.eps_ttm }}</div>
  <div>P/E — цена/прибыль: {{ f.pe_ratio_ttm }}</div>
  <div>EV/EBITDA — стоимость компании / EBITDA: {{ f.ev_to_ebitda_mrq	 }}</div>
  <div>DPR — коэффициент выплаты дивидендов: {{ f.dividend_payout_ratio_fy	 }}</div>
</ng-container>
