@defer (when isLoaded()) {
  @let instr = instrument();

  @if (instr) {
    <div class="flex align-items-center">
      <instrument-logo [instrumentUid]="instr.uid"></instrument-logo>

      <h3>[{{ instr.ticker }}] - {{ instr.name }}</h3>

      <span class="price">(<current-price #priceComponent [instrumentUid]="instr.uid"></current-price>)</span>
    </div>

    <table>
      <tbody>
        <tr>
          <td>
            <h5>Фундаментальные показатели</h5>

            <fundamentals
              *ngIf="instr.asset_uid as asset_uid"
              [ticker]="instr.ticker"
              [instrumentAssetUid]="asset_uid"
            ></fundamentals>
          </td>
          <td>
            <h5>Прогноз аналитиков + история</h5>

            <forecast
              [instrumentUid]="instr.uid"
            ></forecast>
            <br>
            <br>
            <forecast-history
              [instrumentUid]="instr.uid"
            ></forecast-history>
          </td>
          <td>
            <h5>Прогноз</h5>

            <prediction
              [instrumentUid]="instr.uid"
            ></prediction>
          </td>
        </tr>

        <tr>
          <td>
            <h5>Баланс</h5>

            <balance
              *ngIf="instrument()?.figi as figi"
              [instrumentUid]="instr.uid"
              [instrumentFigi]="figi"
            ></balance>
          </td>
          <td colspan="2">
            <h5>Новости</h5>

            <news-complex
              [instrumentUid]="instr.uid"
            ></news-complex>
          </td>
        </tr>

        <!--        <tr>-->
        <!--          <td colspan="3">-->
        <!--            <h5>История за 3 года</h5>-->

        <!--            <div class="graph-container">-->
        <!--              <graph-->
        <!--                width="100%"-->
        <!--                height="600px"-->
        <!--                [instrumentUid]="instr.uid"-->
        <!--                [days]="365 * 3"-->
        <!--                [interval]="candleInterval.CANDLE_INTERVAL_WEEK"-->
        <!--              ></graph>-->
        <!--            </div>-->
        <!--          </td>-->
        <!--        </tr>-->

        <tr>
          <td colspan="3">
            <h5>История за {{ complexGraphHistoryDaysCount }} дней + история прогнозов TA-1</h5>

            <div class="graph-container">
              <complex-graph
                width="100%"
                height="600px"
                [instrumentUid]="instr.uid"
                [historyDaysCount]="complexGraphHistoryDaysCount"
                [futureDaysCount]="complexGraphFutureDaysCount"
                [interval]="complexGraphHistoryInterval"
                [isShowOperations]="true"
                [isShowForecasts]="true"
                [isShowTechAnalysis]="true"
                [isShowLegend]="true"
              ></complex-graph>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  }
}
@placeholder {
  <preloader></preloader>
}
