<div
  class="toggler"
  (click)="handleToggleDrawer()"
>🛠</div>

<div
  class="drawer"
  [class.hidden]="!isDrawerOpen()"
>
  <div class="sort-section">
    <p class="sort-label">Сортировка</p>
    <div class="sort-buttons">
      <button class="sort-btn" [class.active]="sort() === sortModeEnum.BuyPerspective" (click)="setSort(sortModeEnum.BuyPerspective)">Покупка</button>
      <button class="sort-btn" [class.active]="sort() === sortModeEnum.SellPerspective" (click)="setSort(sortModeEnum.SellPerspective)">Продажа</button>
      <button class="sort-btn" [class.active]="sort() === sortModeEnum.LastOperation" (click)="setSort(sortModeEnum.LastOperation)">Последняя операция</button>
      <button class="sort-btn" [class.active]="sort() === sortModeEnum.MarketValue" (click)="setSort(sortModeEnum.MarketValue)">Стоимость портфеля</button>
      <button class="sort-btn sort-btn--buy" [class.active]="sort() === sortModeEnum.BuyTotalRate" (click)="setSort(sortModeEnum.BuyTotalRate)">Итог</button>
      <button class="sort-btn sort-btn--sell" [class.active]="sort() === sortModeEnum.SellTotalRate" (click)="setSort(sortModeEnum.SellTotalRate)">Итог</button>
      <button class="sort-btn sort-btn--buy" [class.active]="sort() === sortModeEnum.BuyMacd" (click)="setSort(sortModeEnum.BuyMacd)">MACD</button>
      <button class="sort-btn sort-btn--sell" [class.active]="sort() === sortModeEnum.SellMacd" (click)="setSort(sortModeEnum.SellMacd)">MACD</button>
      <button class="sort-btn sort-btn--buy" [class.active]="sort() === sortModeEnum.BuyRsi" (click)="setSort(sortModeEnum.BuyRsi)">RSI</button>
      <button class="sort-btn sort-btn--sell" [class.active]="sort() === sortModeEnum.SellRsi" (click)="setSort(sortModeEnum.SellRsi)">RSI</button>
      <button class="sort-btn sort-btn--buy" [class.active]="sort() === sortModeEnum.BuyTech" (click)="setSort(sortModeEnum.BuyTech)">Тех.</button>
      <button class="sort-btn sort-btn--sell" [class.active]="sort() === sortModeEnum.SellTech" (click)="setSort(sortModeEnum.SellTech)">Тех.</button>
      <button class="sort-btn sort-btn--buy" [class.active]="sort() === sortModeEnum.BuyNews" (click)="setSort(sortModeEnum.BuyNews)">Новости</button>
      <button class="sort-btn sort-btn--sell" [class.active]="sort() === sortModeEnum.SellNews" (click)="setSort(sortModeEnum.SellNews)">Новости</button>
      <button class="sort-btn sort-btn--buy" [class.active]="sort() === sortModeEnum.BuyFundamental" (click)="setSort(sortModeEnum.BuyFundamental)">Фундам.</button>
      <button class="sort-btn sort-btn--sell" [class.active]="sort() === sortModeEnum.SellFundamental" (click)="setSort(sortModeEnum.SellFundamental)">Фундам.</button>
      <button class="sort-btn sort-btn--buy" [class.active]="sort() === sortModeEnum.BuyProfit" (click)="setSort(sortModeEnum.BuyProfit)">Прибыль</button>
      <button class="sort-btn sort-btn--sell" [class.active]="sort() === sortModeEnum.SellProfit" (click)="setSort(sortModeEnum.SellProfit)">Прибыль</button>
      <button class="sort-btn sort-btn--buy" [class.active]="sort() === sortModeEnum.BuyVolume" (click)="setSort(sortModeEnum.BuyVolume)">Объём</button>
      <button class="sort-btn sort-btn--sell" [class.active]="sort() === sortModeEnum.SellVolume" (click)="setSort(sortModeEnum.SellVolume)">Объём</button>
    </div>
  </div>

  @if (totalInfo.hasValue()) {
    @let info = totalInfo.value();

    <div class="total-info">
      <h5>Оценено {{ weekPercent() }}% ({{ info!.news_week_rated_count }} / {{ info!.news_week_count }}) новостей за неделю</h5>
      <div class="bar">
        <div [style.width.%]="weekPercent()"></div>
      </div>

      <h5>Оценено {{ monthPercent() }}% ({{ info!.news_month_rated_count }} / {{ info!.news_month_count }}) новостей за месяц</h5>
      <div class="bar">
        <div [style.width.%]="monthPercent()"></div>
      </div>

      <h5>Оценено {{ totalPercent() }}% ({{ info!.news_total_rated_count }} / {{ info!.news_total_count }}) новостей всего</h5>
      <div class="bar">
        <div [style.width.%]="totalPercent()"></div>
      </div>
    </div>
  }

  <weights-editor />

  <complex-graph-control
    [historyDaysCount]="graphSettings().historyDaysCount"
    [interval]="graphSettings().interval"
    [futureDaysCount]="graphSettings().futureDaysCount"
    [isShowNews]="graphSettings().isShowNews"
    [isShowTa_1_PredictionsHistory]="graphSettings().isShowTa_1_PredictionsHistory"
    [isShowTa_1_1_PredictionsHistory]="graphSettings().isShowTa_1_1_PredictionsHistory"
    [isShowTa_1_2_PredictionsHistory]="graphSettings().isShowTa_1_2_PredictionsHistory"
    [isShowTa_2_PredictionsHistory]="graphSettings().isShowTa_2_PredictionsHistory"
    [isShowTa_2_1_PredictionsHistory]="graphSettings().isShowTa_2_1_PredictionsHistory"
    [isShowModels]="graphSettings().isShowModels"
    [isShowForecasts]="graphSettings().isShowForecasts"
    (onChange)="handleChangeGraphSettings($event)"
  />
</div>
