$drawer-width: 950px;

.toggler {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: lightgray;
  z-index: 101;
}

.drawer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: $drawer-width;
  margin-right: 0;
  overflow-x: hidden;
  background-color: #fff;
  transition: margin-right .3s ease-in-out;
  z-index: 100;

  &.hidden {
    margin-right: -$drawer-width;
  }
}

.total-info {
  margin-top: 32px;
}

.bar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 30px;
  border: 1px solid gray;

  & > div {
    height: 100%;
    background-color: green;
  }
}

h5 {
  margin-top: 16px;
}
