$drawer-width: 950px;

.toggler {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: lightgray;
  z-index: 100;
}

.drawer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: $drawer-width;
  margin-right: 0;
  overflow-x: hidden;
  background-color: #fff;
  transition: margin-right .3s ease-in-out;

  &.hidden {
    margin-right: -$drawer-width;
  }
}
