<div
  class="toggler"
  (click)="handleToggleDrawer()"
>🛠</div>

<div
  class="drawer"
  [class.hidden]="!isDrawerOpen"
>
  <mat-button-toggle-group name="Сортировка" (change)="handleChangeSort($event)">
    <mat-button-toggle
      [checked]="sort() === sortModeEnum.BuyPerspective"
      [value]="sortModeEnum.BuyPerspective"
    >Покупка</mat-button-toggle>
    <mat-button-toggle
      [checked]="sort() === sortModeEnum.SellPerspective"
      [value]="sortModeEnum.SellPerspective"
    >Продажа</mat-button-toggle>
    <mat-button-toggle
      [checked]="sort() === sortModeEnum.LastOperation"
      [value]="sortModeEnum.LastOperation"
    >Последняя операция</mat-button-toggle>
    <mat-button-toggle
      [checked]="sort() === sortModeEnum.MarketValue"
      [value]="sortModeEnum.MarketValue"
    >Стоимость портфеля</mat-button-toggle>
  </mat-button-toggle-group>
</div>
