@defer (when isLoaded()) {
  <ng-container *ngIf="news() as newsList">
    <div
      class="date"
    >{{ dateFrom | date : 'yyyy-MM-dd' }} - {{ dateTo | date : 'yyyy-MM-dd' }}</div>

    <div
      *ngFor="let source of Object.keys(newsList)"
      class="source"
    >
      <div
        *ngIf="newsList[source] as s"
        class="bar"
      >
        <div
          class="green"
          [style.height.px]="(s['positive'] ?? 0) * barHeightMultiply"
          [title]="s['positive']"
        >{{ s['positive'] }}</div>

        <div
          class="red"
          [style.height.px]="(s['negative'] ?? 0) * barHeightMultiply"
          [title]="s['negative']"
        >{{ s['negative'] }}</div>

        <div
          class="gray"
          [style.height.px]="(s['neutral'] ?? 0) * barHeightMultiply"
          [title]="s['neutral']"
        >{{ s['neutral'] }}</div>
      </div>

      <div>{{ source }} - {{ newsList[source]['total'] }} Шт</div>
    </div>
  </ng-container>
} @placeholder {
  <preloader></preloader>
}
