.table-container {
  width: calc(100vw - 16px);
  height: calc(100vh - 16px);
  border: 1px solid gray;
}

table::ng-deep {
  thead > tr > th {
    top: 0 !important;
  }
}

.preloader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 90px;
  z-index: 9;
}
