<td>
  @defer (when isLoadedInstrument()) {
    <h5>{{ instrument()?.ticker }}</h5>
    {{ instrument()?.name }}
  } @placeholder {
    <preloader></preloader>
  }
</td>
<td>
  <graph
    [instrumentUid]="instrumentUid"
    [days]="365 * 5"
    [interval]="candleInterval.CANDLE_INTERVAL_MONTH"
  ></graph>
</td>
<td>
  <graph
    [instrumentUid]="instrumentUid"
    [days]="365"
    [interval]="candleInterval.CANDLE_INTERVAL_WEEK"
  ></graph>
</td>
<td>
  <graph
    [instrumentUid]="instrumentUid"
    [days]="30"
    [interval]="candleInterval.CANDLE_INTERVAL_DAY"
  ></graph>
</td>
<td>
  @defer (when isLoadedInstrument()) {
    {{ getPriceByQuotation(instrumentLastPrice()?.price) }}
  } @placeholder {
    <preloader></preloader>
  }
</td>
<td>
  <forecast
    [instrumentUid]="instrumentUid"
  ></forecast>
</td>
<td>
  <forecast-history
    [instrumentUid]="instrumentUid"
  ></forecast-history>
</td>
<td>
  @defer (when isLoadedInstrument()) {
    <fundamentals
      *ngIf="instrument()?.asset_uid as asset_uid"
      [instrumentAssetUid]="asset_uid"
    ></fundamentals>
  } @placeholder {
    <preloader></preloader>
  }
</td>
<td>
  <prediction
    [instrumentUid]="instrumentUid"
    [currentPrice]="getPriceByQuotation(instrumentLastPrice()?.price)"
  ></prediction>
</td>
<td>
  <prediction-graph
    [instrumentUid]="instrumentUid"
  ></prediction-graph>
</td>
<td>
  <complex-graph
    [instrumentUid]="instrumentUid"
  ></complex-graph>
</td>
