<ng-container *ngIf="instrument() as instr">
  <td>
    <h5>{{ instr.ticker }}</h5>
    {{ instr.name }}
  </td>
  <td>
    @defer (on viewport) {
      <graph
        [instrumentUid]="instrumentUid"
        [days]="365 * 5"
        [interval]="candleInterval.CANDLE_INTERVAL_MONTH"
      ></graph>
    }
    @placeholder (minimum 0.5s) {
      <span>-</span>
    }
  </td>
  <td>
    @defer (on viewport) {
      <graph
        [instrumentUid]="instrumentUid"
        [days]="365"
        [interval]="candleInterval.CANDLE_INTERVAL_WEEK"
      ></graph>
    }
    @placeholder (minimum 0.5s) {
      <span>-</span>
    }
  </td>
  <td>
    @defer (on viewport) {
      <graph
        [instrumentUid]="instrumentUid"
        [days]="30"
        [interval]="candleInterval.CANDLE_INTERVAL_DAY"
      ></graph>
    }
    @placeholder (minimum 0.5s) {
      <span>-</span>
    }
  </td>
  <td>{{ getPriceByQuotation(instrumentLastPrice()?.price) }}</td>
  <td>
    @defer (on viewport) {
      <forecast
        [instrumentUid]="instrumentUid"
      ></forecast>
    }
    @placeholder (minimum 0.5s) {
      <span>-</span>
    }
  </td>
  <td>
    @defer (on viewport) {
      <forecast-history
        [instrumentUid]="instrumentUid"
      ></forecast-history>
    }
    @placeholder (minimum 0.5s) {
      <span>-</span>
    }
  </td>
</ng-container>
