@defer (when isLoaded()) {
  <ng-container *ngIf="balanceQty() as b">
    <label>Количество:</label>

    <div>{{ b }} Шт.</div>

    <label>История:</label>

    <div
      *ngFor="let operation of operations()"
      class="small"
    >
    <span
      [class.plus]="operation.operation_type._name_ === 'OPERATION_TYPE_BUY'"
      [class.minus]="operation.operation_type._name_ === 'OPERATION_TYPE_SELL'"
    >
      {{ operation.quantity }} * {{ operation.price | priceByQuotation | priceFormat }} = {{ operation.payment | priceByQuotation : true | priceFormat }}
    </span>

      <span>({{ operation.date | date : 'yyyy-MM-dd' }})</span>
    </div>

    <label>Стоимость бумаг:</label>

    <span class="market-value">{{ marketValue() | priceFormat }}</span>
    <span
      class="profit"
      [class.plus]="potentialProfit()! > 0"
      [class.minus]="potentialProfit()! < 0"
    >
      <b>{{ potentialProfit() | priceFormat : 2 : true : true : true }}</b>

      @if (potentialProfitPercent() !== Infinity) {
        ({{ potentialProfitPercent() | priceFormat : 2 : false : false }}%)
      }

    </span>

    <label>Цена за бумагу:</label>

    <span>{{ avgPrice() | priceFormat }} → {{ currentPrice() | priceFormat }}</span>
  </ng-container>
} @placeholder {
  <preloader></preloader>
}
