@defer (when isLoaded()) {
  <ng-container *ngIf="balanceQty() as b">
    <label>Баланс:</label>

    <div>{{ b }} Шт.</div>

    <label>История:</label>

    <div
      *ngFor="let operation of operations()"
      class="small"
    >
    <span
      [class.plus]="operation.operation_type._name_ === 'OPERATION_TYPE_BUY'"
      [class.minus]="operation.operation_type._name_ === 'OPERATION_TYPE_SELL'"
    >
      {{ operation.quantity }} * {{ operation.price | priceByQuotation }} = {{ operation.payment | priceByQuotation : true }}
    </span>

      <span>({{ operation.date | date : 'yyyy-MM-dd' }})</span>
    </div>

    <label>Если продам сейчас, то заработаю:</label>

    @if (potentialProfit()) {
      <span
        [class.plus]="potentialProfit()! > 0"
        [class.minus]="potentialProfit()! < 0"
      ><b>{{ potentialProfit() | priceRound }}</b></span>
    } @else {
      <b>-</b>
    }
  </ng-container>
} @placeholder {
  <preloader></preloader>
}
