<div class="control">
  <button
    (click)="handleTogglePanel()"
  >🛠</button>

  @if (isPanelOpen) {
    <div [formGroup]="form" class="panel">
      <label>
        История
        <select formControlName="historyDaysCount">
          <option [value]="0">0 дней</option>
          <option [value]="5">5 дней</option>
          <option [value]="10">10 дней</option>
          <option [value]="30">30 дней</option>
          <option [value]="60">60 дней</option>
          <option [value]="90">90 дней</option>
          <option [value]="120">120 дней</option>
          <option [value]="180">180 дней</option>
          <option [value]="210">210 дней</option>
          <option [value]="240">240 дней</option>
          <option [value]="270">270 дней</option>
          <option [value]="300">300 дней</option>
          <option [value]="365">1 год</option>
          <option [value]="365 * 3">3 года</option>
          <option [value]="365 * 5">5 лет</option>
          <option [value]="365 * 10">10 лет</option>
        </select>
      </label>

      <label>
        Интервал
        <select formControlName="interval">
          <option [value]="candleInterval.CANDLE_INTERVAL_30_MIN">CANDLE_INTERVAL_30_MIN</option>
          <option [value]="candleInterval.CANDLE_INTERVAL_HOUR">CANDLE_INTERVAL_HOUR</option>
          <option [value]="candleInterval.CANDLE_INTERVAL_4_HOUR">CANDLE_INTERVAL_4_HOUR</option>
          <option [value]="candleInterval.CANDLE_INTERVAL_DAY">CANDLE_INTERVAL_DAY</option>
          <option [value]="candleInterval.CANDLE_INTERVAL_WEEK">CANDLE_INTERVAL_WEEK</option>
          <option [value]="candleInterval.CANDLE_INTERVAL_MONTH">CANDLE_INTERVAL_MONTH</option>
        </select>
      </label>

      <label>
        Будущее
        <select formControlName="futureDaysCount">
          <option [value]="0">0 дней</option>
          <option [value]="5">5 дней</option>
          <option [value]="10">10 дней</option>
          <option [value]="30">30 дней</option>
          <option [value]="60">60 дней</option>
          <option [value]="90">90 дней</option>
          <option [value]="120">120 дней</option>
          <option [value]="180">180 дней</option>
          <option [value]="210">210 дней</option>
          <option [value]="240">240 дней</option>
          <option [value]="270">270 дней</option>
          <option [value]="300">300 дней</option>
          <option [value]="365">1 год</option>
          <option [value]="365 * 3">3 года</option>
          <option [value]="365 * 5">5 лет</option>
          <option [value]="365 * 10">10 лет</option>
        </select>
      </label>

      <label>
        Тех анализ
        <br>
        <div>
          <input
            type="checkbox"
            [value]="techAnalysisOptions().isShowRSI"
            (change)="handleChangeTechAnalysisOption('isShowRSI', !techAnalysisOptions().isShowRSI)"
          /> RSI
        </div>
        <div>
          <input
            type="checkbox"
            [value]="techAnalysisOptions().isShowBB"
            (change)="handleChangeTechAnalysisOption('isShowBB', !techAnalysisOptions().isShowBB)"
            /> BB
        </div>
        <div>
          <input
            type="checkbox"
            [value]="techAnalysisOptions().isShowEMA"
            (change)="handleChangeTechAnalysisOption('isShowEMA', !techAnalysisOptions().isShowEMA)"
          /> EMA
        </div>
        <div>
          <input
            type="checkbox"
            [value]="techAnalysisOptions().isShowSMA"
            (change)="handleChangeTechAnalysisOption('isShowSMA', !techAnalysisOptions().isShowSMA)"
          /> SMA
        </div>
        <div>
          <input
            type="checkbox"
            [value]="techAnalysisOptions().isShowMACD"
            (change)="handleChangeTechAnalysisOption('isShowMACD', !techAnalysisOptions().isShowMACD)"
          /> MACD
        </div>
      </label>

      <label>
        Графики
        <br>
        <div>
          <input
            type="checkbox"
            [checked]="isShowNews()"
            (change)="handleToggleBoolean('isShowNews', $event)"
          /> Новости
        </div>
        <div>
          <input
            type="checkbox"
            [checked]="isShowPredictionsHistory()"
            (change)="handleToggleBoolean('isShowPredictionsHistory', $event)"
          /> История предсказаний
        </div>
        <div>
          <input
            type="checkbox"
            [checked]="isShowModels()"
            (change)="handleToggleBoolean('isShowModels', $event)"
          /> Отдельные модели
        </div>
      </label>
    </div>
  }
</div>
