@if (instrumentsResource.isLoading()) {
  <div class="preloader">
    <preloader></preloader>
  </div>
}


<cdk-virtual-scroll-viewport
  *ngIf="dataSource"
  headerHeight="50"
  class="table-container"
  appendOnly
  [tvsItemSize]="tableItemHeightPx"
  [bufferMultiplier]="0.1"
  [headerEnabled]="true"
>
  <table
    mat-table
    matSort
    [dataSource]="dataSource"
  >

    <ng-container matColumnDef="logo" sticky>
      <th mat-header-cell *matHeaderCellDef>Название</th>
      <td mat-cell *matCellDef="let instrument">
        <div class="logo">
          <instrument-logo
            [instrumentUid]="instrument.uid"
          ></instrument-logo>
          <span class="instrument-name">{{ instrument.name }}</span>
          <a
            class="logo"
            [routerLink]="['/ticker', instrument.ticker]"
          >
            <span class="ticker">[{{ instrument.ticker}}]</span>
          </a>

          @if (instrument.for_qual_investor_flag) {
            <span title="for_qual_investor_flag - Для квалифицированных инвесторов">🚩</span>
          }
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="complex">
      <th mat-header-cell *matHeaderCellDef>Год истории + полгода прогнозов</th>
      <td mat-cell *matCellDef="let instrument">
        <complex-graph
          width="700px"
          height="350px"
          [instrumentUid]="instrument.uid"
          [instrumentTicker]="instrument.ticker"
          [interval]="CandleInterval.CANDLE_INTERVAL_WEEK"
          [historyDaysCount]="365"
          [futureDaysCount]="180"
          [isShowForecasts]="true"
          [isShowLegend]="false"
          [isShowOperations]="true"
          [isShowModelsGraphInput]="false"
        ></complex-graph>
      </td>
    </ng-container>

    <ng-container matColumnDef="balance">
      <th mat-header-cell *matHeaderCellDef>Цена, Баланс</th>
      <td mat-cell *matCellDef="let instrument">
        <div>
          Текущая цена: <b>{{ instrument.uid | currentPriceByUid | async | priceFormat }}</b>
        </div>
        <br>
        <balance
          [instrumentUid]="instrument.uid"
          [instrumentFigi]="instrument.figi"
          [instrumentLotSize]="instrument.lot"
        ></balance>
      </td>
    </ng-container>

    <ng-container matColumnDef="llm_buy_sell_rate">
      <th mat-header-cell *matHeaderCellDef>{{ ratingColumnTitle() }}</th>
      <td mat-cell *matCellDef="let instrument">
        <llm-buy-sell-rate [instrumentUid]="instrument.uid"></llm-buy-sell-rate>
      </td>
    </ng-container>

    <ng-container matColumnDef="instrument_orders">
      <th mat-header-cell *matHeaderCellDef>Заявки</th>
      <td mat-cell *matCellDef="let instrument">
        <instrument-orders [instrumentUid]="instrument.uid"></instrument-orders>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>

    <tr
      *matRowDef="let row; columns: displayedColumns;"
      mat-row
      [style.height.px]="tableItemHeightPx"
    ></tr>


  </table>
</cdk-virtual-scroll-viewport>


<drawer
  [(sort)]="sortTickers"
></drawer>
