<div class="rate-wrapper">
  <div class="rate-cell">
    @if (rateData.value(); as data) {
      <div
        class="rate-value"
        [style.color]="volumeColor"
        [matTooltip]="getTooltip(data)"
        matTooltipClass="rate-tooltip"
      >
        {{ data.rate | number:'1.2-2' }}
      </div>
      <div class="rate-label" [style.color]="volumeColor">volume</div>
    } @else if (rateData.isLoading()) {
      <div class="rate-value" [style.color]="volumeColor">...</div>
      <div class="rate-label" [style.color]="volumeColor">volume</div>
    } @else {
      <div class="rate-value" [style.color]="volumeColor">-</div>
      <div class="rate-label" [style.color]="volumeColor">volume</div>
    }
  </div>
  <vertical-scale [color]="volumeColor" [value]="rateData.value()?.rate ?? 0"/>
</div>
