@defer (when isLoaded()) {
  <table>
    <thead>
    <th>Название</th>
    <th>5 лет</th>
    <th>Год</th>
    <th>30 дней</th>
    <th>Цена</th>
    <th>Прогноз аналитиков</th>
    <th>История прогнозов</th>
    <th>Фундаментальные показатели</th>
    <th (click)="handleSortPrediction()">Прогноз</th>
    <th>График прогнозов</th>
    </thead>
    <tbody>
    <ng-container *ngFor="let instrument of instruments()">
      @defer (on viewport) {
        <tr
          app-table-row
          [instrumentUid]="instrument.uid"
        ></tr>
      }
      @placeholder (minimum 0.5s) {
        <tr><td colspan="9"><preloader></preloader></td></tr>
      }
    </ng-container>
    </tbody>
  </table>
}
@placeholder {
  <preloader></preloader>
}


