<echarts-graph
  [option]="option()"
  [width]="width()"
  [height]="height()"
></echarts-graph>

@if (!isLoaded()) {
  <div class="preloader">
    <preloader></preloader>
  </div>
}

@if (isShowControl()) {
  <div class="control">
    <complex-graph-control
      [historyDaysCount]="daysHistory()"
      [interval]="historyInterval()"
      [futureDaysCount]="daysFuture()"
      [isShowTechAnalysis]="isShowTechAnalysis()"
      [techAnalysisOptions]="techAnalysisOptions()"
      (onChange)="handleChangeControl($event)"
      (onChangeTechAnalysis)="handleChangeTechAnalysis($event)"
    ></complex-graph-control>
  </div>
}
