<echarts-graph
  [option]="option()"
  [width]="width()"
  [height]="height()"
></echarts-graph>

@if (!isLoaded()) {
  <div class="preloader">
    <preloader></preloader>
  </div>
}

@if (isShowNewsGraph()) {
  <div class="news-graph">
    <news-graph
      [instrumentUid]="instrumentUid()"
      [interval]="historyInterval()"
      [historyDaysCount]="daysHistory()"
      [futureDaysCount]="daysFuture()"
      [width]="width()"
      height="300px"
    ></news-graph>
  </div>
}

@if (isShowControl()) {
  <div class="control">
    <complex-graph-control
      [historyDaysCount]="daysHistory()"
      [interval]="historyInterval()"
      [futureDaysCount]="daysFuture()"
      [isShowTechAnalysis]="isShowTechAnalysis()"
      [techAnalysisOptions]="techAnalysisOptions()"
      [isShowNews]="isShowNewsGraph()"
      [isShowTa_1_PredictionsHistory]="isShowTa_1_PredictionsHistory()"
      [isShowTa_1_1_PredictionsHistory]="isShowTa_1_1_PredictionsHistory()"
      [isShowTa_1_2_PredictionsHistory]="isShowTa_1_2_PredictionsHistory()"
      [isShowTa_2_PredictionsHistory]="isShowTa_2_PredictionsHistory()"
      [isShowTa_2_1_PredictionsHistory]="isShowTa_2_1_PredictionsHistory()"
      [isShowModels]="isShowModelsGraph()"
      (onChange)="handleChangeControl($event)"
      (onChangeTechAnalysis)="handleChangeTechAnalysis($event)"
    ></complex-graph-control>
  </div>
}
