<div class="rate-wrapper">
  <div class="rate-cell">
    @if (rateData.value(); as data) {
      <div class="value">
        @if (data.debug?.['prediction'] != null) {
          <span [style.color]="data.debug?.['prediction'] >= 0 ? GRAPH_COLORS.buy : GRAPH_COLORS.sell">
            {{ data.debug?.['prediction'] >= 0 ? '+' : '' }}{{ (data.debug?.['prediction'] ?? 0) * 100 | number:'1.4-4' }}%
          </span>
        }
      </div>
      <div
        class="rate-value"
        [style.color]="fundamentalColor"
        [matTooltip]="getTooltip(data)"
        matTooltipClass="rate-tooltip"
      >
        {{ data.rate | number:'1.2-2' }}
      </div>
      <div class="rate-label" [style.color]="fundamentalColor">fundamental</div>
      <weight-indicator [weight]="weight()"/>
    } @else if (rateData.isLoading()) {
      <div class="rate-value" [style.color]="fundamentalColor">...</div>
      <div class="rate-label" [style.color]="fundamentalColor">fundamental</div>
      <weight-indicator [weight]="weight()"/>
    } @else {
      <div class="rate-value" [style.color]="fundamentalColor">-</div>
      <div class="rate-label" [style.color]="fundamentalColor">fundamental</div>
      <weight-indicator [weight]="weight()"/>
    }
  </div>
  <vertical-scale [color]="fundamentalColor" [value]="rateData.value()?.rate ?? 0"/>
</div>
