.page {
  padding: 10px;
}

.history {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid lightgray;
}

h6 {
  margin: 0 0 10px 0;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.current {
  margin-bottom: 30px;
  padding: 10px;
  border: 1px solid lightgray;
}
