<div class="page">
  @defer (when isLoadedInstrument()) {
    @let instr = instrument();

    @if (instr) {
      <div class="logo">
        <instrument-logo [instrumentUid]="instr.uid"></instrument-logo>

        <h3>{{ instr.name }}</h3>
      </div>

      <div class="current">
        <h6>Текущие</h6>

        <fundamentals
          [instrumentAssetUid]="instr.asset_uid"
        ></fundamentals>
      </div>
    }
  }
  @placeholder {
    <preloader></preloader>
  }

  @defer (when isLoadedHistory()) {
    <div
      *ngFor="let f of history()"
      class="history"
    >
      <h6>{{ f.date | date }}</h6>

      <fundamentals-card
        [fundamentals]="f.fundamentals"
      ></fundamentals-card>
    </div>
  }
  @placeholder {
    <preloader></preloader>
  }
</div>
