<!--<p>consensus: {{ getPriceByQuotation(forecast()?.consensus) }}</p>-->
<!--<p>current: {{ getPriceByQuotation(forecast()?.current_price) }}</p>-->
<!--<p>min: {{ getPriceByQuotation(forecast()?.min_target) }}</p>-->
<!--<p>max: {{ getPriceByQuotation(forecast()?.max_target) }}</p>-->
<!--<p>change: {{ getPriceByQuotation(forecast()?.price_change) }}</p>-->
<!--<p>change_rel: {{ getPriceByQuotation(forecast()?.price_change_rel) }}</p>-->

@defer (when isLoaded()) {
  <span
    *ngIf="getPriceByQuotation(forecast()?.consensus?.price_change_rel) as priceChangeRel"
    [class.plus]="priceChangeRel > 0"
    [class.minus]="priceChangeRel < 0"
  >
    {{ priceChangeRel }}% → <b>{{ getPriceByQuotation(forecast()?.consensus?.consensus) | priceFormat }}</b>
  </span>
} @placeholder {
  <preloader></preloader>
}
